<!DOCTYPE html>
<html>

<head>
  <title>Astroworld</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.css" />

</head>
<body>
  <div class="container-fluid">
    <app-top-bar></app-top-bar>
    <hr>

    <p>
      This is a demo example forked from the <strong>ng-bootstrap</strong> project: Angular powered Bootstrap.
      Visit <a href="https://ng-bootstrap.github.io/" target="_blank">https://ng-bootstrap.github.io</a> for more
      widgets and demos.
    </p>

    <hr>
    <app-landingpage-carousel></app-landingpage-carousel>
  </div>
</body>



</html>